<% query_params = { invited: true, workspace_id: @workspace.id, workspace_name: @workspace.name, invited_by: @resource.invited_by.name } %>

<% custom_url = "#{ENV["UI_HOST"]}?#{query_params.to_query}" %>

<p><%= "Join #{@workspace.name} on AI Squared" %></p>

<p>
  <%= "#{@resource.invited_by.name} invited you to join the workspace #{@workspace.name} on AI Squared" %>
</p>

<p>
  <%= link_to t("devise.mailer.invitation_instructions.accept"), custom_url %> 
</p>

<% if @resource.invitation_due_at %>
  <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
<% end %>
