<h1>Workspace Invitation</h1>
<p>Hello <%= @user.email %>,</p>
<p>You have been invited to join the workspace: <%= @workspace.name %>.</p>
<p>Click <a href="https://app.multiwoven.com/login">here</a> to login and access the workspace.</p>
<p>If you're new to the platform, use the "Forgot Password" feature to set a new password using your email.</p>
<p>Thank you!</p>
