<!DOCTYPE html>
<html>
<head>
  <style>
    <% color = @sync_status == "success" ? '#33C0A7' : '#F54C3D' %>
    .email-body {
      background-color: #333;
      color: white;
      padding: 20px;
      font-family: Arial, sans-serif;
      text-align: center; /* Center text */
    }
    .button-container {
      text-align: center; /* Center button container */
    }
    .button {
      display: inline-block;
      padding: 10px 20px;
      margin: 20px 0;
      background-color: <%= color %>;
      color: white;
      text-decoration: none;
      font-weight: bold;
      border-radius: 5px;
    }
    .status {
      color: <%= color %>;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="email-body">
    <p>Salesforce to SFTP Test job was <%= @sync_status == "success" ? '<span class="status">successful</span>' : '<span class="status">failure</span>' %>. 
       Please click the Sync Run link below to view more details.
    </p>
    <div class="button-container">
      <a href="<%= @url %>" class="button">Sync Run</a>
    </div>
  </div>
</body>
</html>
